@import "css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Nunito:wght@300&family=Short+Stack&display=swap");
.hidden {
  display: none;
}
.image {
  width: 100vw;
  height: 100vh;
}

.body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Fuzzy Bubbles", cursive;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clock {
  font-size: 100px;
  margin-bottom: 5%;
}
#quote {
  font-size: 20px;
}

#login-form {
  border-bottom: 3px solid white;
  width: 33vw;
}
#login-form input {
  background: none;
  border: none;
  width: 25vw;
  height: 10vh;
  font-size: 170%;
  color: white;
  text-align: center;
}
input:focus {
  outline: none;
}
button,
::placeholder {
  color: white;
  font-family: "Fuzzy Bubbles", cursive;
}
#login-form button {
  color: white;
  font-size: 150%;
}
#todo-form input {
  background: none;
  border: none;
  color: white;
  font-size: 110%;
<<<<<<< HEAD
  margin-top: 30px;

=======
  margin-top: 10%;
  text-align: center;
>>>>>>> main
  width: 20vw;
  border-bottom: 2px solid white;
}
.log-in {
  margin-bottom: 20px;
}
button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}
li {
  font-size: 15px;
}

#quote {
  font-size: 15px;
}
#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
#weather span {
  margin-bottom: 5px;
}

.search {
  margin-left: 20px;
  border-bottom: 2px solid white;
}
i {
  font-size: 15px;
}
.search input {
  width: 200px;
  height: 30px;
  background: none;
  border: none;
  font-size: 18px;
  color: white;
}
.left-head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 50px;
}
.head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  top: 5%;
}
